
= render "templates/header"
.categories_header
  .categories_header-top
    - if @category.blank?
      %h2 カテゴリー目次
      .categories_header-top-content_parent
        - @categories.each do |category|
          %details
            %summary= category.name
            .categories_header-top-content_child
              - category.children.each do |child|
                = link_to child.name, category_path(child.id)
    - else
      %h2= "#{@category.name}の商品一覧"
      .categories_header-top-content_child
        - @categories.each do |category|
          = link_to category.name, category_path(category.id)