
= form_with model: item, local: true do |f|  
  .field
    = f.label :name
    %span.require 必須
    %br
    = f.text_field :name
  .field
    = f.label :detail
    %span.require 必須
    %br
    = f.text_area :detail
  .field
    = f.label :image
    %span.require 必須
    %br
    .field-area
      - if item.images.present?
        - item.images.each do |image|
          .field-area-image
            .field-area-image-outline
              = image_tag image.data.url
            .field-area-image-edit
              %label 
                変更
                = f.fields_for :images, item do |image|
                  = image.file_field :data, class: "field-area-image-input"
              %label{clsaa:"mage-remove"}
                削除
      %label.field-area-label
        = f.fields_for :images, item do |image|
          %i.fa.fa-image
          %p 画像は10枚まで投稿できます
          = image.file_field :data, id:"file_get_field"
  .field
    = f.label :category
    %span.require 必須
    %br
    = f.collection_select(:category_id, Category.where(ancestry:nil), :id, :name, {include_blank: "選択してください"},{ class: "category_list" })
  .field
    = f.label :brand
    %span.any 任意
    %br
    = f.text_field :brand
  .field
    = f.label :pay_side
    %span.require 必須
    %br
    = f.select :pay_side, Item.pay_sides.keys.map{|k|[I18n.t("enums.item.pay_side.#{k}"),k]}, include_blank: "選択してください"
  .field
    = f.label :post_date
    %span.require 必須
    %br
    = f.select :post_date, Item.post_dates.keys.map{|k|[I18n.t("enums.item.post_date.#{k}"),k]}, include_blank: "選択してください"
  .field
    = f.label :status
    %span.require 必須
    %br
    = f.select :status, Item.statuses.keys.map{|k|[I18n.t("enums.item.status.#{k}"),k]}, include_blank: "選択してください"
  .field
    = f.label :prefecture
    %span.require 必須
    %br
    = f.collection_select :prefecture_id,Prefecture.all, :id, :name, include_blank: "選択してください"
  .filed
    = f.label :post_way
    %span.require 必須
    %br
    = f.collection_select :post_way_id, PostWay.all, :id, :name, include_blank: "選択してください"
  .field
    = f.label :price
    %span.require 必須
    %br
    = f.number_field :price
  .actions
    = f.submit